<div class="navbar--container px-6 py-3 border-b border-gray-300 bg-white shadow">
  <ul class="grid grid-cols-3 grid-rows-2 gap-2 text-sm
               md:w-fit md:grid-rows-1 md:grid-cols-6">
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">home</span>Inicio</a></li>
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">box</span>Premiums</a></li>
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">shelves</span>POP</a></li>
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">space_dashboard</span>Dashboards</a></li>
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">directions_car</span>Autos</a></li>
    <li><a href="#" class="flex items-center md:justify-center gap-2">
      <span class="material-symbols-outlined text-[#1D71B8]">settings</span>Admin</a></li>
  </ul>
</div>