<section class="dealers px-6 py-4">
  <h2><b>Distribuidores autorizados</b></h2><br>
  <div class="dealers--icons grid grid-cols-10 grid-rows-3 gap-2">
    <div class="icon grid justify-center">
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/apple.svg" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/microsoft.svg" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/nike.svg" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
    <div class="icon grid justify-center">
      <img src="https://placehold.co/100/skyblue/FFF" class="rounded-2xl">
    </div>
  </div>
</section>