<div class="header--container px-6 py-4 grid grid-rows-2 grid-cols-2 gap-3 border-b border-gray-300 bg-white
            md:py-2 md:grid-rows-1 md:grid-cols-3">
  <div class="header--finder h-[40px] px-4 py-2 row-start-2 col-span-2 flex justify-between w-fill border border-[#1D71B8] rounded-full text-gray-400
            md:py-1 md:row-start-1 md:col-span-1 md:w-[320px]">
    <div class="w-full h-full flex items-center ">
      <span class="material-symbols-outlined">search</span>
      <input type="text" name="" id="" placeholder="Buscar..." class="w-full text-sm">
      <span class="material-symbols-outlined">close</span>
    </div>
  </div>
  <div class="header--logo flex justify-center items-center">
    <img class="header--logo h-8" src="https://brandfactory-assets.s3.amazonaws.com/images/header/logo-BrandFactory.svg">
  </div>
  <div class="header--notifications flex justify-end items-center gap-2">
    <span class="material-symbols-outlined">shopping_cart</span>
    <span class="material-symbols-outlined">fullscreen</span>
    <span class="material-symbols-outlined">favorite</span>
    <span class="material-symbols-outlined">notifications</span>
    <span class="material-symbols-outlined">account_circle</span>
  </div>
</div>