<div class="footer bg-[#fafafa]">
    <div class="footer--container px-6 py-4 grid gap-4
                md:grid-cols-5 md:grid-rows-1">
        <div class="footer--categories text-xs
                    md:hidden lg:block lg:col-span-3">
          <p><b>Categorías</b></p>
          <div class="footer--list grid grid-cols-2 gap-4 uppercase
                      md:flex md:justify-between">
            <ul>
              <li>cdo</li>
              <li>audio</li>
              <li>autos</li>
              <li>brove</li>
              <li>camaras</li>
              <li>computo</li>
            </ul>
            <ul>
              <li>insumos</li>
              <li>celulares</li>
              <li>ecológico</li>
              <li>electrónicos</li>
              <li>electrónicos 1</li>
              <li>cupones digitales</li>
            </ul>
            <ul>
              <li>electrodomésticos</li>
              <li>dispositivos médicos</li>
              <li>hogar y herramientas</li>
              <li>experiencias en línea</li>
              <li>accesorio y lifestyle</li>
              <li>deportes al aire libre</li>
            </ul>
            <ul>
              <li>connected and smart home</li>
              <li>bolsas, mochilas y maletas</li>
              <li>electrónicos promocionales</li>
              <li>bienestar y sustentabilidad</li>
              <li>accesorios de viaje y personales</li>
              <li>automotive catálogo promocionales</li>
            </ul>
          </div>
        </div>
        <div class="footer--privacy text-xs">
          <p><b>Seguridad</b></p>
          <ul>
            <li>Aviso de privacidad</li>
            <li>Lineamientos a cumplir usuarios de platadforma Brand Factory</li>
            <li>Política de seguridad</li>
            <li>Términos de devolución y garantía</li>
            <li>Política de uso de uso de cuentas de usuario de sistema</li>
          </ul>
        </div>
        <div class="footer--about text-xs">
          <p><b>Esto es Brand Factory</b></p>
          <ul>
            <li>Acerca de nosotros</li>
            <li>Certificaciones</li> 
          </ul>
        </div>
    </div>
</div>

<div class="footer--contact px-6 py-4 grid grid-rows-2 text-white bg-[#1e293b]
                md:grid-flow-col md:grid-cols-3 md:grid-rows-none">
  <div class="footer--list row-start-2 flex justify-center
              md:row-start-1 md:justify-start">
    <div class="footer--data flex flex-col gap-2">
      <p class="text-xs flex items-center gap-1"><span class="material-symbols-outlined">call</span><b>55 7258-6119 / 55 7261-6782</b></p>
      <p class="text-xs flex items-center gap-1"><span class="material-symbols-outlined">mail</span>soporte<span>&#64;</span>brandfactory.marketing</p>
      <p class="text-xs flex items-center gap-1"><span class="material-symbols-outlined">distance</span>Iguala 28, Roma Sur, Cuauhtémoc.</p>
      <p class="text-xs flex items-center gap-1"><span class="material-symbols-outlined">local_post_office</span>C.P. 06760, CDMX.</p>
    </div>
  </div>
  <div class="footer--logo h-full row-start-1 flex flex-col items-center justify-center">
    <div class="flex flex-col gap-2">
      <img class="max-h-12" src="https://brandfactory-assets.s3.amazonaws.com/home/Logotipo_blanco.svg" alt="">
      <p class="text-xs text-center">Todos los derechos © 2020 - 2025</p>
    </div>
  </div>
</div>