<section class="services px-6 py-4">
  <h2><b>Servicios especiales</b></h2><br>
  <div class="services-container grid grid-cols-2 grid-rows-2 gap-4 text-sm
              md:grid-cols-4 md:grid-rows-none">
    <div class="box relative">
      <div class="box--link">
        <a href="#" class="absolute bottom-0 p-4 w-full flex justify-between items-center bg-[#1D71B8] opacity-75 text-white">
          <b>POP</b>
          <span class="material-symbols-outlined text-white">arrow_outward</span></a>
      </div>
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/servicios_especiales_pop.jpg" alt="335x400">
    </div>
    <div class="box relative">
      <div class="box--link">
        <a href="#" class="absolute bottom-0 p-4 w-full flex justify-between items-center bg-[#1D71B8] opacity-75 text-white">
          <b>ELECTRÓNICOS</b>
          <span class="material-symbols-outlined text-white">arrow_outward</span></a>
      </div>
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/electronicos.jpg" alt="335x400">
    </div>
    <div class="box relative">
      <div class="box--link">
        <a href="#" class="absolute bottom-0 p-4 w-full flex justify-between items-center bg-[#1D71B8] opacity-75 text-white">
          <b>PROMOCIONALES</b>
          <span class="material-symbols-outlined text-white">arrow_outward</span></a>
      </div>
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/promocionales.jpg" alt="335x400">
    </div>
    <div class="box relative">
      <div class="box--link">
        <a href="#" class="absolute bottom-0 p-4 w-full flex justify-between items-center bg-[#1D71B8] opacity-75 text-white">
          <b>RFQ's</b>
          <span class="material-symbols-outlined text-white">arrow_outward</span></a>
      </div>
      <img src="https://brandfactory-assets.s3.amazonaws.com/home/servicios_especiales_rfq.jpg" alt="335x400">
    </div>
  </div>
</section>