<div class="highlights px-6 py-4">
  <h2><b>Destacados del Mes</b></h2><br>
  <div class="highlights--boxes grid grid-rows-2 grid-cols-2 md:grid-cols-3 gap-4">
    <a href="#" class="box bg-red-400 relative rounded-3xl">
      <div class="absolute bottom-0 p-4 w-full flex flex-col gap-2 text-white">
        <span class="material-symbols-outlined text-white">campaign</span>
        <div class="flex justify-between items-center text-xs uppercase md:text-lg">
          <h3><b>Las mejores experiencias con los mejores productos</b></h3>
          <span class="material-symbols-outlined text-white">arrow_outward</span></div>
      </div>
    </a>
    <a href="#" class="box rounded-3xl overflow-hidden">
      <img src="https://source-data-bf-images-prod.s3.amazonaws.com/wall/f43e05f7-9c22-46e3-b355-676945dada83/cbc8b867-bef9-4a7d-a82f-c6680d01bbc8.png" alt="450x450">
    </a>
    <a href="#" class="box rounded-3xl overflow-hidden">
      <img src="https://source-data-bf-images-prod.s3.amazonaws.com/wall/f43e05f7-9c22-46e3-b355-676945dada83/a2fb9b1e-a5e7-4493-a5d2-7bddb642512c.png" alt="450x450">
    </a>
    <a href="#" class="box rounded-3xl overflow-hidden">
      <img src="https://source-data-bf-images-prod.s3.amazonaws.com/wall/f43e05f7-9c22-46e3-b355-676945dada83/d39b2b04-7e62-4672-87d6-64f389e1cc33.png" alt="450x450">
    </a>
    <a href="#" class="box rounded-3xl overflow-hidden">
      <img src="https://source-data-bf-images-prod.s3.amazonaws.com/wall/f43e05f7-9c22-46e3-b355-676945dada83/73d1a21d-b64e-45fb-8431-ad824f7dea97.png" alt="450x450">
    </a>
    <a href="#" class="box rounded-3xl overflow-hidden">
      <img src="https://source-data-bf-images-prod.s3.amazonaws.com/wall/f43e05f7-9c22-46e3-b355-676945dada83/98b925b9-5cda-4350-ab3c-9a76bb0fb988.png" alt="450x450">
    </a>
  </div>
</div>